.headline {
    /* bg-gradient-to-r from-gray-800 to-teal-400 */
    background: linear-gradient(90deg, #06b6d4, #3b82f6);
    background-clip: text;
}

.cta {
    --s: 10px;
    /* the shadow spread-radius */
    position: relative;
    transition: 200ms ease-in-out;
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    background: linear-gradient(90deg, #06b6d4, #3b82f6);
    color: var(--cta-text-color);
    font-size: 1.25rem;
    transform: translate(0);
    transform-style: preserve-3d;
}

.cta:hover::before {
    opacity: 1;
}

.cta::before {
    content: "";
    position: absolute;
    inset: -1px;
    transform: translate3d(0, 0, -1px);
    clip-path: polygon(-100vmax -100vmax,
            100vmax -100vmax,
            100vmax 100vmax,
            -100vmax 100vmax,
            -100vmax -100vmax,
            calc(0px + var(--s)) calc(0px + var(--s)),
            calc(0px + var(--s)) calc(100% - var(--s)),
            calc(100% - var(--s)) calc(100% - var(--s)),
            calc(100% - var(--s)) calc(0px + var(--s)),
            calc(0px + var(--s)) calc(0px + var(--s)));
    transition: opacity .2s ease-in-out;
    opacity: 0;
    /* from tw gray 800 to tw teal 400 */
    background: linear-gradient(90deg, #06b6d4, #3b82f6);
    filter: blur(15px);
    border-radius: inherit;
}

.boxShadow {
    box-shadow: 0 0 var(--box-shadow-color), 0 0 var(--box-shadow-color),
        0 20px 25px -5px color-mix(in srgb, var(--box-shadow-color) 10%, transparent),
        0 8px 10px -6px color-mix(in srgb, var(--box-shadow-color) 10%, transparent);
    background-color: rgba(var(--box-shadow-color), 0.1);
}
