/* transition duration-200 text-center px-4 py-2 rounded-md bg-gradient-to-r from-blue-800 to-teal-400 text-white hover:hue-rotate-90 */
.cta {
    --s: 10px; /* the spread-radius */
    position: relative;
    transition: 200ms ease-in-out;
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    background: linear-gradient(90deg, #1e40af, #2dd4bf);
    color: white;
    transform: translate(0);
    transform-style: preserve-3d;
}

.cta:hover::before {
    opacity: 1;
}

.cta::before {
    content: "";
    position: absolute;
    inset: -1px;
    transform: translate3d(0, 0, -1px);
    clip-path: polygon(-100vmax -100vmax,
            100vmax -100vmax,
            100vmax 100vmax,
            -100vmax 100vmax,
            -100vmax -100vmax,
            calc(0px + var(--s)) calc(0px + var(--s)),
            calc(0px + var(--s)) calc(100% - var(--s)),
            calc(100% - var(--s)) calc(100% - var(--s)),
            calc(100% - var(--s)) calc(0px + var(--s)),
            calc(0px + var(--s)) calc(0px + var(--s)));
    transition: opacity .2s ease-in-out;
    opacity: 0;
    background: linear-gradient(90deg, #1e40af, #2dd4bf);
    filter: blur(10px);
    border-radius: inherit;
}

@keyframes rotate-background {
    from {
        background: linear-gradient(90deg, #1e40af, #2dd4bf);
    }

    to {
        background: linear-gradient(450deg, #1e40af, #2dd4bf);
    }
}